@model IEnumerable<Shared.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Patient
            </th>
            <th>
                Doctor
            </th>
            <th>
                Date and time appointment
            </th>
            <th>
                Date and time finish appointment
            </th>
            @if (!User.IsInRole("Admin") && !User.IsInRole("Patient") && !User.IsInRole("Clinic Manager"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            @if(item.EndDate != ViewBag.End)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            }
            else
            {
                <td>
                    Still active
                </td>        
            }
            @if (!User.IsInRole("Admin") && !User.IsInRole("Patient") && !User.IsInRole("Clinic Manager"))
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
