@model MediConnect.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Patient
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>
        <dt class = "col-sm-2">
            Doctor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FullName)
        </dd>
        <dt class = "col-sm-2">
            Appointment start date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Appointment end date
        </dt>
        @if(Model.EndDate != ViewBag.End)
            {
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
            }
            else
            {
                <td>
                    Still active
                </td>        
            }
    </dl>
</div>
@if(Model.EndDate == ViewBag.End)
{
    <a asp-controller="Appointments" asp-action="Finish" asp-route-id="@Model.ID">Finish</a>
}
else if(Model.Diagnosises == null){
    <a asp-controller="Diagnoses" asp-action="Create" asp-route-id="@Model.ID">Appoint a diagnosis</a>
}
else
{
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Result
            </th>
            <th>
                Description
            </th>
            <th>
                Date and time
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Diagnosises) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Result.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
}
    </tbody>
</table>
}

    <hr />

    <h2>Reviews</h2>
    <table class="table">
    <thead>
        <tr>
            <th>
                Doctor
            </th>
            <th>
                Message date
            </th>
            <th>
                Message
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Discussions)
        {
            <tr>
                <td>
                    @Html.Raw(item.Doctor.FullName)
                </td>
                <td>
                    @Html.Raw(item.MessageDate)
                </td>
                <td>
                    @Html.Raw(item.Message)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Moderator"))
                        {
                            <a asp-controller="Discussions" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

    <hr />

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Doctor"))
        {
            <h4>Send message</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-controller="Discussions" asp-action="MessageSend">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group" hidden>
                        <input name="AppointmentID" class="form-control" asp-items="ViewBag.AppointmentID" value="@Model.ID" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Message</label>
                        <input name="Message" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send message" class="btn btn-primary" />
                    </div>
                    </form>
                </div>
            </div>
        }
    }
